{% extends "base.html" %}
{% block content %}
  <section class="card" style="max-width:480px;margin:0 auto;">
    <h2>Sign In</h2>
    <form method="post" action="{{ url_for('auth.login') }}" class="vform">
      <label>Email</label>
      <input type="email" name="email" required>
      <label>Password</label>
      <input type="password" name="password" required>
      <button class="btn warn" type="submit">Sign In</button>
      <p><small>Don't have an account? <a href="{{ url_for('auth.register') }}">Sign Up</a></small></p>
    </form>
  </section>
{% endblock %}
