{% extends "base.html" %}
{% block content %}
  <section class="card" style="max-width:480px;margin:0 auto;">
    <h2>Registro</h2>
    <form method="post" action="{{ url_for('auth.register') }}" class="vform">
      <label>Email</label>
      <input type="email" name="email" required>
      <label>Contraseña</label>
      <input type="password" name="password" required>
      <button class="btn" type="submit">Crear cuenta</button>
      <p><small>¿Ya tienes cuenta? <a href="{{ url_for('auth.login') }}">Inicia sesión</a></small></p>
    </form>
  </section>
{% endblock %}
